.btndestroy:hover{
    color: #FF0000;
    font-size: 20px;
}
.hsshadow:hover {
    box-shadow: rgba(19, 207, 231, 0.25) 0px 20px 20px, rgba(19, 207, 231, 0.25) 0px -12px 30px, rgba(19, 207, 231, 0.25) 0px 4px 6px, rgba(19, 207, 231, 0.25) 0px 12px 13px, rgba(19, 207, 231, 0.25) 0px -3px 5px;
}
a {
    text-decoration: none;
    color: #4C4C4C;
}
a:hover{
    color: #0cbbe7;
    font-weight: bold;
}
li {
    margin: 15px 0 15px 10px;
}


.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .card {
    background-color: #1e1e1e;
    border: 1px solid #333;
}

.dark-mode .btn-dark-mode-toggle {
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
}

